
.imgs{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

}
.imgs figure{
    flex: calc(30%);
    margin:0;
}
.imgs img{
    width: 200px;
    height: 200px;
    border-radius: 10%;
}
h1{
    
    width:100%;
    text-align: center;
    background-color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
footer{
width: 100%;
background-color: red;
align-items: center;
display: flex;
}
body{
    background-image: url(flag2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}